<section class="vh-100" style="background-color: #5A5A5A;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="col-md-6 col-lg-7 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">

              <form>

                <div class="d-flex align-items-center mb-3 pb-1">
                  <span class="h1 fw-bold mb-0">Passwort vergessen?</span>
                </div>
                <h1 class="fw-bold mb-0">Diese Seite hat keine Funktionalität und ist nicht an das Backend angebunden. </h1>
                <div class="form-outline mb-4">
                  <input class="form-control form-control-lg" id="form2Example17" type="email"/>
                  <label class="form-label" for="form2Example17">Email Adresse</label>
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" onclick="window.location.href = 'home';" type="button">
                    Link zum Zurücksetzen senden
                  </button>
                </div>

                <p class="mb-5 pb-lg-2">Erinnern Sie sich an Ihr Passwort? <a href="" style="color: #393f81;">Hier
                  anmelden</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
