<div class="container">
  <button (click)="onPressClose()" class="btn btn-light btn-lg custom-continue" type="timebutton">Zurück</button>
  <app-group-dropdown (selectedGroupID)="handleSelectedGroupID($event)"></app-group-dropdown>
  <div *ngIf="!hasUserWithPlaytime">
    <h3><b>Keiner hat eine Spielzeit hochgeladen</b></h3>
    <button (click)="onPressClose()" class="btn btn-warning btn-lg custom-continue" type="timebutton">Spielzeit hinzufügen</button>
  </div>
  <div *ngIf="hasUserWithPlaytime">
    <div *ngIf="selectedGroupID.value === 0"><h3><b>Alle Freunde</b></h3></div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">08:00</th>
        <th scope="col">08:30</th>
        <th scope="col">09:00</th>
        <th scope="col">09:30</th>
        <th scope="col">10:00</th>
        <th scope="col">10:30</th>
        <th scope="col">11:00</th>
        <th scope="col">11:30</th>
        <th scope="col">12:00</th>
        <th scope="col">12:30</th>
        <th scope="col">13:00</th>
        <th scope="col">13:30</th>
        <th scope="col">14:00</th>
        <th scope="col">14:30</th>
        <th scope="col">15:00</th>
        <th scope="col">15:30</th>
        <th scope="col">16:00</th>
        <th scope="col">16:30</th>
        <th scope="col">17:00</th>
        <th scope="col">17:30</th>
        <th scope="col">18:00</th>
        <th scope="col">18:30</th>
        <th scope="col">19:00</th>
        <th scope="col">19:30</th>
        <th scope="col">20:00</th>
        <th scope="col">20:30</th>
        <th scope="col">21:00</th>
        <th scope="col">21:30</th>
        <th scope="col">22:00</th>
        <th scope="col">22:30</th>
        <th scope="col">23:00</th>
        <th scope="col">23:30</th>
        <th scope="col">00:00</th>
        <th scope="col">00:30</th>
        <th scope="col">01:00</th>
        <th scope="col">01:30</th>
        <th scope="col">02:00</th>
        <th scope="col">02:30</th>
        <th scope="col">03:00</th>
        <th scope="col">03:30</th>
        <th scope="col">04:00</th>
        <th scope="col">04:30</th>
        <th scope="col">05:00</th>
        <th scope="col">05:30</th>
        <th scope="col">06:00</th>
        <th scope="col">06:30</th>
        <th scope="col">07:00</th>
        <th scope="col">07:30</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of people; let userIndex = index">
        <th scope="row">{{user[0]}}</th>
        <td *ngFor="let isAvailable of user.slice(1); let i = index"
            [ngClass]="{'bg-success': allUsersAvailableAt(i) && isAvailable, 'bg-warning': isAvailable && !allUsersAvailableAt(i)}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  <app-accepted-requests></app-accepted-requests>
</div>
