<div *ngIf="displayfalse" id="comp-render">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-secondary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <div class="d-flex align-items-center mb-3 pb-1">
              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
              <span class="h1 fw-bold mb-0">Wann willst du spielen?</span>
            </div>
            <div class="mb-md-5 mt-md-4 pb-5">
              <div class="minutes-gap-example">
                <button [format]="24" [ngxTimepicker]="OnTime" class="btn btn-light btn-lg custom" type="timebutton">
                  On
                </button>
                Du kommst online um: {{timeOn}}
                <ngx-material-timepicker #OnTime (timeSet)="saveOnTime($event)" [format]="24"
                                         [minutesGap]="30"></ngx-material-timepicker>
              </div>
              <div class="minutes-gap-example">
                <button [format]="24" [ngxTimepicker]="OffTime" class="btn btn-light btn-lg custom" type="timebutton">
                  Off
                </button>
                Du gehst off um: {{timeOff}}
                <ngx-material-timepicker #OffTime (timeSet)="saveOffTime($event)" [format]="24"
                                         [minutesGap]="30"></ngx-material-timepicker>
              </div>
              <button (click)="onPress()" class="btn btn-warning btn-lg custom-continue" type="timebutton">FISH
              </button>
              <br>
              <button (click)="onPressCalender()" class="btn btn-light btn-lg custom-continue" type="timebutton">Wann spielen meine Freunde
              </button>
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="display" id="comp-render">
  <app-calender (close)="handleClose()"></app-calender>
</div>
